<h3>These should match what is on <a href="http://cheeseboardcollective.coop/pizza">the CheeseBoard Site</a></h3>
<p />
<%= PizzaOfTheDay.new.pizza_of_the_day_with_time %>
<p />
<%= PizzaOfTheDay.new.salad_tweet_text %>

